<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="mailSettings">
      <section name="web1" type="System.Net.Configuration.SmtpSection"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="TMBCON" value="Data Source=180.179.4.105,21443;Initial Catalog=TMBDb2019;Persist Security Info=True;User ID=Sqladmin;pwd=SQLpass@#44;Max Pool Size=500;Pooling=True;" />-->
    <add key="TMBCON" value="Data Source=DESKTOP-26OBC7S\MSSQLSERVER2012;Initial Catalog=TMBDb2019;Persist Security Info=True;User ID=sa;pwd=sa@1234;Max Pool Size=500;Pooling=True;"/>
    <add key="fromaddress" value="donotreply@tmbank.in"/>
    <add key="smtpuser" value="donotreply"/>
    <add key="smtppassword" value="CHi@m1N%3"/>
    <add key="smtphost" value="smtp.tmbank.in"/>
    <add key="smtpport" value="587"/>
    <add key="SSL" value="true"/>
  </appSettings>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false"/>
    </settings>
    <mailSettings>
      <smtp deliveryMethod="Network" from="donotreply@tmbank.in">
        <network host="124.124.113.141" port="587" userName="donotreply" password="CHi@m1N%3" enableSsl="false" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="300" maxRequestLength="104857600" enableVersionHeader="false" enableHeaderChecking="true"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" validateRequest="false" enableEventValidation="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="asp"/>
      </controls>
    </pages>
    <globalization culture="auto" uiCulture="auto"/>
    <!--<customErrors mode="Off"/>-->
    <customErrors defaultRedirect="https://www.tmb.in/browser.htm" mode="RemoteOnly"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </handlers>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.php"/>
        <remove value="default.aspx"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="home.aspx"/>
      </files>
    </defaultDocument>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <error statusCode="401" prefixLanguageFilePath="" path="https://www.tmb.in/browser.htm" responseMode="Redirect"/>
      <error statusCode="403" prefixLanguageFilePath="" path="https://www.tmb.in/browser.htm" responseMode="Redirect"/>
      <error statusCode="404" prefixLanguageFilePath="" path="https://www.tmb.in/browser.htm" responseMode="Redirect"/>
      <error statusCode="405" prefixLanguageFilePath="" path="https://www.tmb.in/browser.htm" responseMode="Redirect"/>
      <error statusCode="406" prefixLanguageFilePath="" path="https://www.tmb.in/browser.htm" responseMode="Redirect"/>
      <error statusCode="412" prefixLanguageFilePath="" path="https://www.tmb.in/browser.htm" responseMode="Redirect"/>
      <error statusCode="500" prefixLanguageFilePath="" path="https://www.tmb.in/browser.htm" responseMode="Redirect"/>
      <error statusCode="501" prefixLanguageFilePath="" path="https://www.tmb.in/browser.htm" responseMode="Redirect"/>
      <error statusCode="502" prefixLanguageFilePath="" path="https://www.tmb.in/browser.htm" responseMode="Redirect"/>
    </httpErrors>
    <modules>
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0"/>
        <add name="Pragma" value="no-cache"/>
        <add name="Expires" value="0"/>
        <remove name="X-Powered-By"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="x-content-type" value="nosniff"/>
        <remove name="ETAG"/>
        <add name="ETAG" value="None"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
      <mimeMap fileExtension=".webp" mimeType="image/webp"/>
    </staticContent>
  </system.webServer>
  <!--<runtime>
    <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSystemDefaultTlsVersions=false"/>
  </runtime>-->
</configuration>