
Log Entry : 
12/28/2019 10:52:18

Error in: http://new.tmb.in/tmbadm/TMBAdmin.aspx. 
Error Method: Login. 
Error Message: Thread was being aborted.


__________________________

Log Entry : 
12/28/2019 12:41:06

Error in: http://new.tmb.in/tmbadm/TMBAdmin.aspx. 
Error Method: Login. 
Error Message: Thread was being aborted.


__________________________
