
Log Entry : 
12/28/2020 00:35:56

Error in: http://localhost:1467/TMBRevamp2019/tmbadm/TMBAdmin.aspx. 
Error Method: Login. 
Error Message: Thread was being aborted.


__________________________

Log Entry : 
12/28/2020 10:11:50

Error in: http://localhost:1467/TMBRevamp2019/tmbadm/TMBAdmin.aspx. 
Error Method: Login. 
Error Message: Thread was being aborted.


__________________________
