
Log Entry : 
12/30/2019 14:50:10

Error in: http://new.tmb.in/tmbadm/TMBAdmin.aspx. 
Error Method: Login. 
Error Message: Thread was being aborted.


__________________________

Log Entry : 
12/30/2019 16:34:22

Error in: http://new.tmb.in/tmbadm/TMBAdmin.aspx. 
Error Method: Login. 
Error Message: Thread was being aborted.


__________________________
